@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "La Nord";
	src: url("/fonts/la-nord-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: swap;
}

@font-face {
	font-family: "La Nord";
	src: url("/fonts/la-nord-medium.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: swap;
}
