@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "La Nord";
	src: url("/fonts/la-nord-regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

@font-face {
	font-family: "La Nord";
	src: url("/fonts/la-nord-medium.otf") format("opentype");
	font-weight: 800;
	font-style: normal;
	text-rendering: optimizeLegibility;
}
