node_modules

*.class
*.war
book/client/node_modules
book/server/build
book/server/.gradle
book/server/bin

book/client/.env.local
book/client/.env.production.local
book/client/.env.development.local
book/server/src/main/resources/application-production.properties
book/server/src/main/resources/application-development.properties