*.sql linguist-detectable=true
*.sql linguist-language=sql

*.graphql linguist-detectable=true
*.graphqls linguist-detectable=true
*.graphql linguist-language=graphql
*.graphqls linguist-language=graphql

*.tsx linguist-detectable=true
*.tsx linguist-language=tsx