book/**/*.sql
book/server/src/main/resources/application-global.properties
book/server/src/main/resources/application-development.properties
book/server/src/main/resources/application-production.properties