book/client/stats.html
book/client/public/swiped-events.min.js


book/schema/**/*.sql

book/server/build
book/server/**/*.sql
book/server/src/main/resources/application-global.properties
book/server/src/main/resources/application-development.properties
book/server/src/main/resources/application-production.properties
book/server/src/main/resources/application-testing.properties
book/server/src/main/resources/application-development-base.properties